---
---

<div
  class="dark text-sm bg-[#A50034] text-white hidden md:flex items-center justify-center px-3 py-2"
>
  <span>
    SAF-EAGLE · Sustainable Aviation Fuels Research Platform · UCLM
  </span>
</div>